.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}


.form-container {
    max-width: 600px;
    width: 80%; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.form-container input[type="text"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    font-size: 16px;
}


.form-container label {
    font-weight: bold; 
}

.form-container p {
    font-weight: bold; 
    margin-top: 20px; 
}

/* Style du bouton */
.form-container button {
    display: block; /* Affichage en bloc pour occuper toute la largeur */
    width: 100%; /* Occupe toute la largeur du conteneur */
    padding: 10px; /* Espacement interne */
    background-color: #6c6867; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Bords arrondis */
    cursor: pointer;
    font-size: 16px; /* Taille de la police */
    margin-top: 20px; /* Espacement supérieur */
}

/* Style du lien de retour */
.form-container a {
    display: block; /* Affichage en bloc pour occuper toute la largeur */
    text-align: center; /* Centrage du texte */
    margin-top: 20px; /* Espacement supérieur */
    text-decoration: none; /* Suppression du soulignement par défaut */
    color: #6c6867; /* Couleur du texte */
}

/* Style du lien de retour au survol */
.form-container a:hover {
    text-decoration: underline; /* Soulignement au survol */
}


/* Style du select */
select {
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    height: 40px; /* Augmentation de la hauteur */
    line-height: 40px; /* Alignement vertical du texte */
  }
  

  