
body{
    background-color: #f4f4f4;
}
.centered-container {
    display: flex; /* Utilisation de Flexbox pour centrer */
    justify-content: center; /* Centrage horizontal */
}

.dropdown-container {
    width: 90%; /* Occupe toute la largeur de la page */
    border-radius: 10px; /* Bords arrondis */
    overflow: hidden; 
    background-color: white; /* Couleur de fond */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
    position: relative;
    display: inline-block;
    background-color: #e64c4c; /* Couleur de fond */
    border-radius: inherit; /* Hérite des bords arrondis de la container */
    padding: 10px; /* Espacement interne */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour l'effet de profondeur */
}
.title{
    display: flex; /* Utilisation de Flexbox pour centrer */
    justify-content: center; /* Centrage horizontal */

}
.liste-projets {
  max-height: 350px; 
  overflow-y: auto; 

}

.liste-projets li {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Ligne de séparation entre chaque élément de la liste */
}

.liste-projets li:last-child {
  border-bottom: none; /* Supprime la ligne de séparation du dernier élément */
}

.liste-projets button {
  margin-top: 5px;
}

  .lien{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #6c6867;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


table{
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  overflow-x: auto;
}

table table {
  width: 60%;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e9e9e9;
}


@media screen and (max-width: 500px) {
  table{
    overflow-x: auto;
  }

  table th,
  table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
